<h3>LOGIN TO BOOKITBUCKET</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, placeholder: "email", autofocus: true, size: 30 %></div>
  <div><%= f.password_field :password, placeholder: "password", autocomplete: "off", size: 30 %></div>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
	<% end -%><br><br>
  <div class="modal-footer"><%= f.submit "LOG IN", class:"btn btn-default"%></div>
<% end %>