<div class="container">

	<div class="inner-container yellow5">
		<h1>#<%= @hashtag.tag %></h1>
	</div>

<!-- 	<div class="inner-container white">
	  <form class="form-group" role="search">
      <input type="text" class="form-control" placeholder="(ex. #another hashtag)">
    	<input type="submit" class="btn btn-default" value="Search"></input>
    </form>
	</div> -->

<div class="inner-container white">
	<%= form_for @hashtag, url: {action: "search"},  method: "get" do |f| %>
    <%= f.text_field :tag, class: "form-control", placeholder: "(ex. this whole sentence is a hashtag) THIS DOESNT WORK YET" %>
    <%= f.submit "Search", name: nil, class: "btn btn-default" %>
  <% end %>
</div>

	<% @hashtag.buckets.each do |bucket| %>
		<%= render partial: "buckets/bucket", locals: { bucket: bucket } %>
	<% end %>
	<% if @hashtag.buckets.size % 4 != 0 %>
		<% (4-(@hashtag.buckets.size % 4)).times do %>
			<div class="bucket col-sm-3 col-xs-4 yellow<%= rand(1..5) %>"></div>
		<% end %>
	<% end %>
</div>