<h3>EDIT- <%= @bucket.name.upcase %></h3>
<br>
	<%= form_for @bucket do |f| %>
	  <%= f.text_field :name, size: 38 %>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary <%= "active" if @bucket.privacy == "public" %>">
		    <input type="radio" name="bucket[privacy]" id="bucket_public" value="public" <%= "checked" if @bucket.privacy == "public" %>> Public
		  </label>
		  <label class="btn btn-primary <%= "active" if @bucket.privacy == "private" %>">
		    <input type="radio" name="bucket[privacy]" id="bucket_private" value="private" <%= "checked" if @bucket.privacy == "private" %>> Private
		  </label>
		  <label class="btn btn-primary <%= "active" if @bucket.privacy == "group" %>">
		    <input type="radio" name="bucket[privacy]" id="bucket_group" value="group" <%= "checked" if @bucket.privacy == "group" %>> Group
		  </label>
		</div>
	  <%= f.fields_for :hashtags do |h| %>
    	<%= h.text_field :tag, value: @hashtags, placeholder: "hashtags (ex. #hash #hash two #hash three)", size: 65 %>
  	<% end %><br><br>
	  <%= f.submit "UPDATE BUCKET", class: "btn btn-default" %>
	<% end %>
<br><br>