<div class="item"> 
	<div class="panel panel-default">
	  <% if bucket.privacy == "group" %>
	  	<a data-toggle="collapse" data-parent="#accordion-<%= bucket.id %>" href="#collapse<%= item.id %>">
	  <% end %>
		  <div class="panel-heading">
		    <div class="float-left">
		    <h2 class="panel-title font2 <%= item.status %>">
	        <%= item.name %><em><%= " - " + item.location if item.location %></em>
		    </h2>
		    </div>
		    <% if bucket.privacy == "group" %>
			    <div class="float-right attendees">
		      	<% item.attendees.each do |attendee| %>
			    		<div class="inline center">
				    		<%= link_to user_path(attendee) do %>
					    		<div class="circular height35" style = 'background-image: url(<%= attendee.picture %>); '><%= image_tag attendee.picture %></div>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>
		  </div>

		<% if bucket.privacy == "group" %></a>
	  <div id="collapse<%= item.id %>" class="panel-collapse collapse float-clear">
	    <div class="panel-body">
	    	<% if item.attendees.length > 0 %>
		    	<h3>Attendees:</h3>
		    	<% item.attendees.each do |attendee| %>
		    		<div class="inline center">
			    		<%= link_to user_path(attendee) do %>
				    		<div class="circular" style = 'background-image: url(<%= attendee.picture %>);'><%= image_tag attendee.picture, height: '20px' %></div>
				    		<%= attendee.full_name %>
							<% end %>
						</div>
					<% end %>
				<% end %>
				<br><br>
				<% if current_user && bucket.owners.include?(current_user) %>
				<% if item.attendees.include?(current_user) %>
						<button class="btn btn-default"><%= link_to "UNATTEND", bucket_item_attendances_path(bucket, item), method: "delete" %></button>
					<% else %>
						<button class="btn btn-default"><%= link_to "ATTEND", bucket_item_attendances_path(bucket, item), method: "post" %></button>
					<% end %>
					<% if item.status == "todo" %>
						<button class="btn btn-default"><%= link_to "MARK DONE", bucket_item_status_path(bucket, item), method: "patch" %></button>
					<% else %>
						<button class="btn btn-default"><%= link_to "MARK TODO", bucket_item_status_path(bucket, item), method: "patch" %></button>
					<% end %>
						<button class="btn btn-default"><%= link_to "DELETE", bucket_item_path(bucket, item), method: "delete" %></button>
				<% end %>
	    </div>
	  </div>
  	<% end %>
	</div>
</div> 