<div class="container">
	<%= form_for @bucket do |f| %>
	  <%= f.text_field :name, size: 50 %>
	  <%= f.select(:privacy, options_for_select(['private', 'public', 'group'], :selected => @bucket.privacy)) %><br>
	  <%= f.fields_for :hashtags do |h| %>
    	<%= h.text_field :tag, value: @hashtags, placeholder: "hashtags (ex. #hash #hash two #hash three)", size: 50 %>
  	<% end %>
	  <%= f.submit "Update Bucket Settings" %>
	<% end %>
</div>