<div class="container">
	<div class="inner-container yellow5">
		<h1><%= current_user.full_name.upcase + "'S " if !current_user.first_name.nil? %><%= @type_of_bucket.upcase %>BUCKETS</h1>
	</div>
	<div class="inner-container divider white"></div>
		<% if @buckets.length > 0 %>
			<% @buckets.each do |bucket| %>
					<%= render partial: "bucket", locals: { bucket: bucket } %>
			<% end %>
			<% if !@followed_buckets.nil? %>
				<% @followed_buckets.each do |bucket| %>
						<%= render partial: "bucket", locals: { bucket: bucket } %>
				<% end %>
			<% end %>
			<% if @number_of_buckets % 3 != 0 %>
				<% (3-(@number_of_buckets % 3)).times do %>
					<div class="bucket col-sm-4 col-xs-6 yellow<%= rand(1..5) %>"></div>
				<% end %>
			<% end %>
		<% else %>
			<div class="inner-container divider white center">
				<h3>You do not have any <%= @type_of_bucket %> buckets yet!</h3>
				<% if @type_of_bucket != "archive" %>
					<button class="btn btn-default" data-toggle="modal" data-target= "#create">CREATE NEW BUCKET</button>
				<% else %>
					<button class="btn btn-default"><%= link_to "VIEW ALL BUCKETS", buckets_home_path %></button>
				<% end %>
			</div>
			<div class="inner-container divider white"></div>
		<% end %>
	</div>
</div>