<div class="item <%= item.status %>"> 
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= item.id %>">
        <%= item.name %><%= " - " + item.location if !item.location.empty? %>
      </a>
    </h4>
  </div>
  <div id="collapse<%= item.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <% item.attendees.each do |attendee| %>
				<%= image_tag attendee.picture, height: "20px" %>
		<% end %>
    </div>
  </div>
</div>
</div> 