<div class="item <%= item.status %>"> 
	<div class="panel panel-default">
	  <% if bucket.privacy == "group" %>
	  	<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= item.id %>">
	  <% end %>
		  <div class="panel-heading">
		    <h4 class="panel-title">
	        <%= item.name %><%= " - " + item.location if !item.location.empty? %>
		    </h4>
		  </div>
		<% if bucket.privacy == "group" %></a><% end %>
	  <div id="collapse<%= item.id %>" class="panel-collapse collapse">
	    <div class="panel-body">
	      <% item.attendees.each do |attendee| %>
					<%= image_tag attendee.picture, height: "20px" %>
			<% end %>
	    </div>
	  </div>
	</div>
</div> 