<h1>Create New Bucket</h1>
<br>
	<%= form_for @new_bucket do |f| %>
	  <%= f.text_field :name, placeholder: "name", size: 55 %>
	  <%= f.select(:privacy, options_for_select([['private', 'private'], ['public', 'public'], ['group', 'group']])) %><br><br>
	  <%= f.fields_for :hashtags do |h| %>
    	<%= h.text_field :tag, placeholder: "hashtags (ex. #hash #hash two #hash three)", size: 65 %>
  	<% end %><br><br>
	  <%= f.submit "Create New Bucket" %>
	<% end %>
<br><br>