<div class="container">
	<div class="inner-container yellow5">

		<h1><%= @bucket.name %> by <%= @bucket.creator.full_name %></h1>
		
		<h3>Privacy: <%= @bucket.privacy %></h3>

		<% if @bucket.owners.length > 1 %>
			<h3>Owners: </h3>
			<ul>
			<% @bucket.owners.each do |owner| %>
				<li><%= owner.full_name %></li>
			<% end %>
			</ul>
		<% end %>

	</div>
	<div class="inner-container white">
		<div class="panel-group" id="accordion" data-length="<%= @items.length %>">
			<% @items.each do |item| %>
				<%= render partial: 'buckets/item', locals: { bucket: @bucket, item: item } %>
			<% end %><br>
		</div>

		<% if @bucket.owners.include?(current_user) %>

			<%= render partial: "items/new" %><br><br>

			<button class="btn-default" ><%= link_to "EDIT", edit_bucket_path(@bucket), data: {toggle: "modal", target: "#edit"} %></button>
			<button class="btn-default"><%= link_to "DELETE", bucket_path(@bucket), method: "delete" %></button>
			<% if @bucket.archive == false %>
				<button class="btn-default"><%= link_to "ARCHIVE", bucket_archive_path(@bucket), method: "patch" %></button>
			<% else %>
				<button class="btn-default"><%= link_to "UNARCHIVE", bucket_archive_path(@bucket), method: "patch" %></button>
			<% end %>
			<% if @bucket.privacy == "group" %>
				<button class="btn-default"><%= link_to "ADD/REMOVE OWNERS", bucket_bucket_ownerships_path(@bucket) %></button>
			<% end %>
		<% end %>
		<br><br>


		<% @bucket.hashtags.each do |tag| %>
			<%= link_to "##{tag.tag}", hashtag_path(tag) %>
		<% end %>
	</div>
</div>