<div class="container">
	<%= @bucket.name %> by <%= username(@bucket.user_id) %>
	<% @items.each do |item| %>
			<div class="container <%= "#{item.status}" if item.status != "todo" %>">
				<%= item.name %>
			</div>
		<% end %>
	</ul>
</div>
<% @bucket.hashtags.each do |tag| %>
	<%= link_to "##{tag.tag}", hashtag_path(tag) %>
<% end %>