<div class="container">
	<h1><%= @bucket.name %> by <%= username(@bucket.user_id) %></h1>
	Owners: 
	<ul>
	<% @bucket.owners.each do |owner| %>
		<li><%= username(owner.id) %></li>
	<% end %>
	</ul>
	Privacy: <%= @bucket.privacy %>
	<% @items.each do |item| %>
			<div class="container <%= item.status %>">
				<%= item.name %>
			</div>
		<% end %>
	</ul>
</div>
<% @bucket.hashtags.each do |tag| %>
	<%= link_to "##{tag.tag}", hashtag_path(tag) %>
<% end %>