<div class="container">

	<div class="inner-container yellow5">
		<h1>#<%= @hashtag.tag %></h1>
	</div>

<!-- 	<div class="inner-container white">
	  <form class="form-group" role="search">
      <input type="text" class="form-control" placeholder="(ex. #another hashtag)">
    	<input type="submit" class="btn btn-default" value="Search"></input>
    </form>
	</div> -->

<div class="inner-container white">
	<%= form_tag @hashtag, url: {action: "search"},  method: "get", class: "form-group", html_options: { role: "search" } do |f| %>
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "(ex. this whole sentence is a hashtag) THIS DOESNT WORK YET" %>
    <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
  <% end %>
</div>

	<% @hashtag.buckets.each do |bucket| %>
		<%= render partial: "buckets/bucket", locals: { bucket: bucket } %>
	<% end %>
	<% if @hashtag.buckets.size % 3 != 0 %>
		<% (3-(@hashtag.buckets.size % 3)).times do %>
			<div class="bucket col-sm-4 col-xs-6 yellow<%= rand(1..5) %>"></div>
		<% end %>
	<% end %>
</div>