<div class="container">
	<h1><%= @hashtag.tag %></h1>
	<% @hashtag.buckets.each do |bucket| %>
		<div class="container <%='current_user_' if user(bucket.user_id) == current_user %><%= bucket.privacy %>">
			<%= link_to bucket.name, bucket_path(bucket) %> - by <%= username(bucket.user_id) %>
		</div>
	<% end %>
</div>