<div class="container">
	<h1><%= @item.name %> - <%= @item.location %></h1>
	<h3>Bucket: <%= @item.bucket.name %></h3>
	<h3>Status: <%= @item.status %></h3>
	<h5>Start Time: <%= @item.start_time %></h5>
	<h5>End Time: <%= @item.end_time %></h5>
	<h5>Notes: <%= @item.notes %></h5>
	<h5>Rating: <%= @item.rating %></h5>
	<h5>Review: <%= @item.review %></h5>
</div>